body{
	padding: 50px 150px;
	margin: 0 300px;
	width: 700px;
}

h2{
	text-align: center;
	color: blue;
	
}

h3{
	text-align: center;
}

hr{
	width: 50%;
}

table{
	text-align: center;
}

td{
	text-align: left;
	width: 200px;
}

td{
	vertical-align: top;
}

dt{
	font-weight: bold;
}

caption{
	font-size: 25px;
	color: blue;
	font-weight: bold;
}
ol{
	padding: 0 20px;
	font-style: italic;
}

ol > li{
	font-style: normal;
	font-weight: bold;
}